/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}
/**
*
*	general styling helpers
*
**/
.click{ 
	cursor: pointer; cursor: hand; 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.blank-dragover, .swap-dragover, .image-shuffle, .image-okay, .image-plus, .image-refresh, .image-recall, .image-swap, .image-play, .image-undo, .image-pass, .image-up, .image-down, .image-right, .image-left, .image-chart, .image-settings, .image-setting, .image-apps, .image-update, .image-remove, .image-home{
	background: url(/wordstyle/public/assets/images/sprites.png) no-repeat;
}

.header{
	margin-bottom: 10px;
}

.header-container{
	padding: 10px;
	border-bottom: 1px solid #916091;
	background-color: #996699;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	-webkit-box-shadow: 0px 6px 9px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 6px 9px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 6px 9px 0px rgba(50, 50, 50, 0.75);
}

.body{
	display: block;
	text-align: center;
}
.body-container{
	display: inline-block;
	text-align: left;
	border: 1px solid #BDBDBD;
	padding: 15px;
}

.game{

}
.game-container{

}
.status{
	min-height: 16px;
	display: block;
	text-align: center;
}
.status-container{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
}
.notice{
	min-height: 16px;
	display: block;
	text-align: left;
}
.notice-container{
	display: inline-block;
	font-size: 14px;
}
.board{
	display: block;
	padding: 5px;
	text-align: center;
}
.board-container{
	display: inline-block;
	padding: 5px;
	border: 1px solid black;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}

.user-letters{
	display: inline-block;
	background-color: #DFBADF;
	border: 1px solid #E4A4E4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
}
.user-letters-container{
	display: inline-block;
	position: relative;
	padding: 5px;
}
.letter{
	position: relative;
	float: left;
	margin: 1px;
	display: inline-block;
	text-align: center;
	height: 35px;
	width: 35px;
	background-color: #E2CBE2;
	border: 1px solid #E4A4E4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	font: bold 29px/44px "Lucida Console", Monaco, monospace;

}
.letter-pending{
	background-color: #BE76BE !important;
	color: #E6E6E6 !important;
}
.letter-selected{
	background-color: #DF9CDF !important;
	border: 1px solid #E2CBE2 !important;
}
.letter-dragover{
	margin-left: 15px !important;
}
.blank-dragover{
	border: 1px solid #63CC4E;
	background-position: -44px 7px;
}
.swap-dragover{
	border: 1px solid #FF9442;
	background-position: -148px -52px;
}
.invalid-dragover{
	border: 1px solid #D12E2E;
}
.letter-points{
	position: absolute;
	top: 2px;
	left: 3px;
	font-size: 10px;
	line-height: 10px;
}

.letter-controls{
	display: inline-block;
	background-color: #DFBADF;
	border: 1px solid #E4A4E4;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-align: center;
}
.letter-controls-container{
	display: inline-block;
	position: relative;
	padding: 5px;
}
.letter-control{
	position: relative;
	float: left;
	margin: 1px;
	display: inline-block;
	text-align: center;
	height: 35px;
	width: 35px;
	background-color: #E2CBE2;
	border: 1px solid #E4A4E4;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	font: bold 32px/46px "Lucida Console", Monaco, monospace;	
}
.letter-control-text{
	font-family: arial !important;
	font-size: 10px;
	line-height: 10px;
}

.letter:hover, .letter-control:hover {
	background-color: #ECE4EC;
}

.blank-space{
	background-color: #ECE4EC;
}
.disabled-overlay{
	background-color: #DD3333 !important;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=50);
	/* Netscape */
	-moz-opacity: 0.5;
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	/* Good browsers */
	opacity: 0.5;

	cursor: default !important;
}

.image-shuffle{
	background-position: 4px 0;
}

.image-okay{
	background-position: -99px -3px ;
	width: 25px;
	height: 19px;
}

.image-plus{
	background-position: -39px 12px;
	width: 20px;
	height: 20px;
}

.image-refresh{
	background-position: -100px -50px ;
	width: 25px;
	height: 26px;
}

.image-recall{
	background-position: -47px -49px ;
}

.image-swap{
	background-position: -148px -52px ;
	width: 24px;
	height: 23px;
}

.image-play{
	background-position: -93px -199px ;
}

.image-undo{
	background-position: -146px -153px ;
	width: 24px;
	height: 14px;
}

.image-pass{
	background-position: -94px -150px ;
}

.image-up{
	background-position: -104px -102px ;
	width: 18px;
	height: 20px;
}

.image-down{
	background-position: -153px -104px ;
	width: 18px;
	height: 20px;
}

.image-right{
	background-position: -53px -103px ;
	width: 20px;
	height: 18px;
}

.image-left{
	background-position: -3px -102px ;
	width: 20px;
	height: 18px;
}

.image-chart{
	background-position: -1px -50px ;
	width: 27px;
	height: 24px;
}

.image-settings{
	background-position: -45px -151px ;
	width: 34px;
	height: 27px;
}

.image-setting{
	background-position: -2px -150px ;
	width: 24px;
	height: 24px;
}

.image-apps{
	background-position: -2px -202px ;
	width: 22px;
	height: 22px;
}

.image-update{
	background-position: -52px -202px ;
	width: 24px;
	height: 24px;
}

.image-remove{
	background-position: -151px -6px ;
	width: 18px;
	height: 18px;
}

.image-home{
	background-position: -148px -201px ;
	width: 27px;
	height: 26px;
}


