<div class="board-container clearfix">

<table>

	{{#each row in view.boardRows}}
		<tr>
			{{#each column in row itemController="letter"}}
				<td>
				{{view 'user-letter'}}
				</td>
			{{/each}}
		</tr>
	{{/each}}
</table>
</div>
