<div class="letter-controls">
	<div class="letter-controls-container" {{action 'playPass'}}>
			<div {{bind-attr class=":click :letter-control playEnabled:image-play:image-pass controlsEnabled::disabled-overlay"}}>
				<span class="letter-control-text">{{#if playEnabled}}play{{else}}pass{{/if}}</span>
			</div>
	</div>
</div>