
<div class="status">
	<div class="status-container">
		{{status}}
	</div>
</div>
<div class="notice">
	<div class="notice-container">
		{{notice}}
	</div>
</div>
<div class="game">
	<div class="game-container">

		{{outlet}}

		{{partial 'shuffle'}}

		{{view 'user-letters'}}

		{{partial 'controls'}}

	</div>
</div>
