<div class="letter-controls">
	<div class="letter-controls-container" {{action 'recallShuffle'}}>
			<div {{bind-attr class=":click :letter-control recallEnabled:image-recall:image-shuffle"}}>
				<span class="letter-control-text">{{#if recallEnabled}}recall{{else}}shuffle{{/if}}</span>
			</div>
	</div>
</div>